<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>GEEK STORE</title>

</head>

<body>

    <div class="container">
        <header>

            <div class="inicio-sesion">
                <div>
                    <img src="./images/logo.jpg" alt="">
                </div>

                <nav>

                    <ul>
                        <li> <img class="transporte" src="./images/TRANSPORTE.jpg" alt=""><a href="#">
                                <p> ENVIO GRATIS EN </p>
                                <p>TODOS TUS PEDIDOS</p>
                            </a></li>
                        <li> <img src="./images/PRECIO.jpg" alt=""> </i><a href="#">
                                <p>LOS MEJORES</p>
                                <p>PRECIOS</p>
                            </a></li>
                        <li> <img src="./images/atencionpersonalizada.jpg" alt=""> <a href="#">
                                <p>ASESORAMIENTO</p>
                                <p>PERSONALIZADO</p>
                            </a></li>
                        <li> <img src="./images/iniciodesesion.jpg" alt=""> <a href="#">INICIAR SESION</a>

                    </ul>

                </nav>

            </div>

            <div class="menu">

                <ul>
                    <li><a href="#">PRODUCTOS</a> </li>
                    <li><a href="#">OFERTAS </a></li>
                    <li><a href="#"> CONTACTO </a></li>
                    <li><a href="#l"> NOSOTROS </a></li>
                    <img src="./public/css/images/CARRITO.png" alt="">
                </ul>


            </div>


        </header>

        <main>
            <section class="container-slideshow">

            </section>


            <section class="container-products">

                <img src="" alt="">

                <div class="field">
                    <button type="button" id="search"> <i class="fas fa-search"></i></button>
                    <input type="text" id="searchterm" placeholder="">

<br>

                    <div class="licencia">
                        <img src="./images/licencia-gameof.jpg" alt="">
                        <img src="./images/licencia-spiderman.jpg" alt="">
                        <img src="./images/licencia-superman.jpg" alt="">
                    </div>



                </div>

            </section>

        </main>

        <footer>


            <ul class="informacion-legal">
                <div>
                    <li class="informacion"><a href="#">INFORMACION LEGAL </li>
                    <li><a href="#">Aviso legal </a></li>
                    <li><a href="#"> Politica de privacidad </a></li>
                    <li><a href="#"> Politica de cookies </a></li>
                    <li><a href="#">Configuracion de cookies </li>
                    <li><a href="#">Terminos y condiciones </a></li>
                </div>


                <div>
                    <li class="informacion"><a href="#">ASESORAMIENTO </li>
                    <li><a href="#">Quienes somos </a></li>
                    <li><a href="#"> Pagina de ayuda </a></li>
                    <li><a href="#">Contacto </a></li>
                </div>

            </ul>

            <div class="redes">

                <div>
                    <div class="wrapper">
                        <a href=""><i class="fab fa-instagram"></i></a>
                        <a href=""><i class="fab fa-whatsapp"></i></a>
                        <a href=""><i class="fab fa-facebook-square last"></i></a>
                    </div>

                    <div class="raya"></div>
                </div>

                <section class="Copyright">

                    <p>Copyright © 2020-2022 GeekStore S.R.L.</p>


                </section>

            </div>



        </footer>

    </div>


</body>

</html>