body {
    font-family: 'Roboto Mono', monospace;
    color: black;

}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;

}

header {
    display: flex;
    flex-direction: column;

}

.inicio-sesion {
    display: flex;

    height: 100px;
    background-color: #f4f1de;

    div {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20%;




        img {
            width: 80px;
            height: 70%;


        }
    }

    nav {
        width: 80%;



        ul {
            display: flex;
            height: 100%;



            li {
                display: flex;
                height: 80%;

                img {
                    width: 80px;
                    height: 80%;
                    border-radius: 100%;

                }
            }

        }
    }

}

.menu {
    ul {
        display: flex;
        justify-content: center;
        gap: 20px;
        background-color: #df7a5e;

        li {
            padding: 10px 30px;
            background-color: #ffffff;
            margin: 20px;
            margin-top: 40px;
        }
    }

}

.container-slideshow {

    height: 300px;
    background-color: #3c405b;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

footer {
    display: flex;
    background-color: #2085a1;
    padding: 20px;
    color: black;
    padding-bottom: 50px;


    .informacion-legal {

        display: flex;
        width: 50%;
        gap: 50px;
        list-style: none;

        a {
            text-decoration: none;
            color: black
        }

        .informacion {
            margin-bottom: 20px;

        }
    }

    .redes {
        width: 50%;
        display: flex;
        flex-direction: column;



        div {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 15px;
            align-items: flex-end;
            margin-bottom: 50px;

            .wrapper {
                display: flex;
                flex-direction: row;
                justify-content: flex-end;

                i {
                    font-size: 60px;

                }

                .last {
                    margin-right: 125px;
                }

            }

            .raya {
                border-bottom: solid rgb(138, 53, 14) 10px;
                width: 250px;
                margin-right: 100px;
                border-radius: 75px;
            }
        }



    }
}

.container-products {
    height: 400px;
    background-color: #f4f1de;
    display: flex;
    justify-content: center;
    padding-top: 20px;


    .field {

        input {
            height: 25px;
            background-color: black;
            border-radius: 75px;
            width: 300px;
        }

        button {
            border: none;
            i {
                font-size: 25px;
                
            }
        }
    }

}
.licencia{

    width: 200x;
    height: 200px;
    display: flex;
    margin-top: 5%;
    gap: 60px;
   
}


.Copyright {

    text-align: center;
}